<div class="photo">

  <img src="{{iconLink}}">
  <h3>{{title}}</h3>
  {{mimeType}}
  {{id}}<br>
  {{createdDate}}<br>
  {{modifiedDate}}<br>
  <img src={{thumbnailLink}} title="{{metadata}}">

</div>